POSTGRES_DB=maildb
POSTGRES_USER=mailuser
POSTGRES_PASSWORD=cambia_esto
REDIS_PASSWORD=cambia_esto
SECRET_KEY=cambia_esto_por_clave_larga
DEBUG=False
ALLOWED_HOSTS=mail.facilgestion.cl,127.0.0.1

IMAP_HOST=micontable.cl
IMAP_PORT=993
IMAP_USER=asistente@micontable.cl
IMAP_PASSWORD=tu_password_cpanel
IMAP_BATCH_SIZE=500